concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

name: ci/cd
on:
  push:
    branches: ['master']
    tags: ['v*.*.*']
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

env:
  TEST_TOKEN: ${{ secrets.TEST_TOKEN }}

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@a5f9b05d2d216f63e13859e0d847461041025775
        with:
          go-version: '1.26.x'

      - name: Install dependencies
        run: go get ./...

      - name: Run go tests
        run: go test "./internal/..." -count=1 -timeout=20s

  changes:
    runs-on: ubuntu-latest
    outputs:
      hypeserver: ${{ steps.filter.outputs.hypeserver }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check paths that matter to hypeserver build
        id: filter
        uses: dorny/paths-filter@v2
        with:
          filters: |
            hypeserver:
              - 'internal/hypeserver/**'
              - 'internal/datastore/**'

  build-and-push-hypebot:
    needs: tests
    if: >
      (
        github.run_attempt > 1 && needs.tests.result == 'success'
      ) || (
        github.event_name == 'push' &&
        github.ref_type == 'tag' &&
        startsWith(github.ref, 'refs/tags/v') &&
        needs.tests.result == 'success'
      )
    runs-on: ubuntu-latest
    env:
      CUSTOM_STATUS: ${{ secrets.CUSTOM_STATUS }}
      POToken: ${{ secrets.POToken }}
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@a60f0f62b5c12316066c8db464bfb2faafd7907b
        with:
          images: ghcr.io/sonastea/hypebot

      - name: Build and push hypebot docker image
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        with:
          context: .
          file: ./docker/hypebot/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build-and-push-hypeserver:
    needs: [tests, changes]
    if: ${{ needs.changes.outputs.hypeserver == 'true' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@3227f5311cb93ffd14d13e65d8cc400d30f4dd8a
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        uses: docker/metadata-action@a60f0f62b5c12316066c8db464bfb2faafd7907b
        id: meta
        with:
          images: ghcr.io/sonastea/hypeserver

      - name: Build and push hypeserver docker image
        uses: docker/build-push-action@8c1e8f8e5bf845ba3773a14f3967965548a2341e
        with:
          context: .
          file: ./docker/hypeserver/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy-hypebot:
    needs: build-and-push-hypebot
    runs-on: ubuntu-latest
    steps:
      - name: Deploy and run docker container
        uses: appleboy/ssh-action@0ff4204d59e8e51228ff73bce53f80d53301dee2
        env:
          TOKEN: ${{ secrets.DISCORD_BOT_TOKEN }}
          POToken: ${{ secrets.POToken }}
          DISABLED_COMMANDS: ${{ secrets.DISABLED_COMMANDS }}
          CUSTOM_STATUS: ${{ secrets.CUSTOM_STATUS }}
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          script: |
            cd $(pwd)/hypebot
            git restore .
            git pull

            if [ ! -z "${{ secrets.DISABLED_COMMANDS }}" ]; then
              if grep -q "DISABLED_COMMANDS" .env; then
                sed -i "s/^DISABLED_COMMANDS=.*/DISABLED_COMMANDS=${{ secrets.DISABLED_COMMANDS }}/" .env
              else
                echo "DISABLED_COMMANDS=${{ secrets.DISABLED_COMMANDS }}" >> .env
              fi
            fi

            docker compose up -d --no-deps --force-recreate --pull always hypebot

  deploy-hypeserver:
    needs: build-and-push-hypeserver
    runs-on: ubuntu-latest
    steps:
      - name: Deploy and run docker container
        uses: appleboy/ssh-action@0ff4204d59e8e51228ff73bce53f80d53301dee2
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_PRIVATE_KEY }}
          script: |
            cd $(pwd)/hypebot
            git restore .
            git pull
            docker compose up -d --no-deps --force-recreate --pull always hypeserver
